{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white navbar border-bottom border-grey">
 <img src="{% static 'images/logo2.png' %}" height="60px" width="180px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item active">
        <span class="nav-link" style="color:#74c043">Hello, {{ request.user.faculty }}</span>
      </li>
      <li class="nav-item active">
        <a href="{% url 'home' %}" class="nav-link" style="color:#74c043">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'account' %}" style="color:#74c043">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="color:#74c043">Logout</a>
      </li>
    </ul>
  </div>
</nav>